# --- GENERAL SETTINGS ---
ENVIRONMENT=dev
LOG_LEVEL=INFO

# --- CORE API SERVER ---
CORE_API_PORT=8089

# --- FRONTEND ---
FRONTEND_PORT=8501

# --- VECTOR DATABASE (QDRANT) ---
# Put it as "localhost" if you are running Qdrant locally, or "qdrant-db" if using Docker Compose with a service named "qdrant-db"
QDRANT_HOST=qdrant-db
QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334
# QDRANT_API_KEY="Your Qdrant API Key here"

# --- LLM / LANGCHAIN ---
OPENAI_API_KEY="Your OpenAI API Key here"
LANGCHAIN_API_KEY="Your LangChain API Key here"
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=AGENTIC-RAG